@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  overflow-x: hidden;
}

.note {
  font-size: 12px;
  opacity: 0.6;
}

#contact .footnote,
#contact .footnote a {
  color: #999;
  font-size: 15px;
}

code {
  min-height: 240px;
  min-width: 250px;
}

.text-bold {
  font-size: 16px;
  font-weight: 500;
}

nav p {
  font-size: 12px;
}
nav a.nav-link {
  display: block;
  font-size: 30px;
  margin: 16px 0;
}

footer {
  background: #151515;
}

footer a {
  font-size: 16px;
  min-width: 150px;
}

#designed-for h2.gradient2 {
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  background: linear-gradient(
    85.44deg,
    #ad64b9 0%,
    #9e64b9 5%,
    #6477b9 30%,
    #8cdce1 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 18px 0;
}

@media (max-width: 1000px) {
  #designed-for {
    max-width: 550px;
  }
  #designed-for .heading-wrap {
    max-width: 130px;
  }
  #designed-for .heading-wrap h2 {
    font-size: 24px;
  }

  #designed-for h2.gradient2 {
    font-size: 40px;
  }
}
