.rounded {
  border-radius: 50px;
}

.shadow {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.object-fit-contain {
  object-fit: contain;
}

.max-w-7xl {
  max-width: 75rem;
}

.max-w-8xl {
  max-width: 78rem;
}
