@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Euclid Circular B;
  font-weight: 500;
  font-style: normal;
  src: url("../assets/Euclid.otf") format("opentype");
  font-display: swap;
}

h1,
h2,
h3 {
  font-family: Euclid Circular B;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 125%;
  letter-spacing: -0.02em;
  @apply text-blue;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  mix-blend-mode: normal;
  @apply text-gray;
}
