@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  overflow-x: hidden;
}

@font-face {
  font-family: Euclid Circular B;
  font-weight: 400;
  font-style: normal;
  src: url("./assets/Euclid-regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: Euclid Circular B;
  font-weight: 500;
  font-style: normal;
  src: url("./assets/Euclid.otf") format("opentype");
  font-display: swap;
}

h1,
h2,
h3,
h4 {
  font-family: Euclid Circular B;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: white;
}

h1,
h2,
h3.gradient,
h4.gradient {
  /* background: linear-gradient(
      76.42deg,
      rgba(40, 161, 211, 0) 20.86%,
      rgba(34, 201, 191, 0.75) 88.57%
    ),
    #342abc; */
  background: linear-gradient(
      79.22deg,
      rgba(101, 154, 176, 0) 32.91%,
      rgba(101, 154, 176, 0.75) 91.8%
    ),
    linear-gradient(0deg, #ffffff, #ffffff);

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

p,
.button {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  line-height: 145%;
  mix-blend-mode: normal;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 21px;
}

p {
  @apply text-light-gray;
  font-size: 23px;
}

code {
  background: #151515;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  color: rgba(255, 255, 255, 0.8);
  padding: 25px 25px 25px 35px;
  margin: 20px 0;
  line-height: 2;
  white-space: pre;
}

.button {
  font-size: 20px;
}

.button,
a {
  transition: opacity 500ms;
}

.button:hover,
a:hover {
  opacity: 0.65;
}

.label {
  font-size: 23px;
}

.label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  color: #999;
}

.input {
  border: 2px solid #2a2a2a;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 15px;
  min-height: 52px;
  outline: none;
  padding: 0 20px;
  color: white;
}

.textarea {
  border: 2px solid #2a2a2a;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 15px;
  min-height: 200px;
  outline: none;
  padding: 10px 20px;
  resize: none;
  color: white;
}

.text-white {
  -webkit-text-fill-color: initial;
}

.gradient-shift::before {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  background-image: linear-gradient(
    86deg,
    #64b9aa00 0%,
    #64b9aa 25%,
    #64b9aa00 50%
  );
  background-size: 200%;
  background-position-x: -100%;
  transition: background-position-x 1s;
}

.gradient-shift:hover::before {
  background-position-x: 100%;
}

.gradient-shift {
  opacity: 1 !important;
}

.rounded {
  border-radius: 30px;
}

.shadow {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

@media (min-width: 640px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 21px;
  }

  p {
    font-size: 16px;
  }

  .button {
    font-size: 16px;
  }

  .label {
    font-size: 18px;
  }
}

@media (min-width: 480px) {
  .xs-flex-row {
    flex-direction: row;
  }
}

.shimmer {
  animation: grow 6s ease-in-out infinite alternate;
}

.slide {
  opacity: 0;
  animation: slide 12s ease-in-out infinite alternate;
}

@keyframes grow {
  from {
    opacity: 0;
    transform: scale(1);
  }
  to {
    opacity: 0.8;
    transform: scale(1);
  }
}

@keyframes slide {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  10% {
    opacity: 1;
    transform: translateX(0px);
  }
  40% {
    opacity: 1;
    transform: translateX(0px);
  }
  50% {
    opacity: 0;
    transform: translateX(100px);
  }
}
