@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  overflow-x: hidden;
}

button.button {
  min-width: 120px;
}

input {
  padding-left: 17px;
}

h1,
h2,
h3,
h4 {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: white;
}

h1,
h2,
h3.gradient,
h4.gradient {
  /* background: linear-gradient(
      76.42deg,
      rgba(40, 161, 211, 0) 20.86%,
      rgba(34, 201, 191, 0.75) 88.57%
    ),
    #342abc; */
  background: linear-gradient(
      80.67deg,
      rgba(40, 161, 211, 0) 22.48%,
      rgba(34, 201, 191, 0.75) 119.36%
    ),
    linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

p,
a {
  font-family: Inter;
}

p,
.button {
  font-style: normal;
  font-weight: normal;
  line-height: 145%;
  mix-blend-mode: normal;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 21px;
}

a {
  @apply text-light-gray;
  font-size: 16px;
}

p {
  @apply text-gray;
  font-size: 18px;
}

p.large {
  font-size: 20px;
}

code {
  background: #151515;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  color: rgba(255, 255, 255, 0.8);
  padding: 25px 25px 25px 35px;
  margin: 20px 0;
  line-height: 2;
  font-size: 12px;
  white-space: pre;
  position: relative;
}

code .copy-code {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  cursor: pointer;
}

.button {
  font-size: 20px;
}

.button,
a {
  transition: opacity 500ms;
}

.button:hover,
a:hover {
  opacity: 0.65;
}

.label {
  font-size: 23px;
}

.label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  color: #999;
}

.input {
  border: 2px solid #2a2a2a;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 15px;
  min-height: 52px;
  outline: none;
  padding: 0 20px;
  color: white;
}

.textarea {
  border: 2px solid #2a2a2a;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 15px;
  min-height: 200px;
  outline: none;
  padding: 10px 20px;
  resize: none;
  color: white;
}

.text-white {
  -webkit-text-fill-color: initial;
}

.gradient-shift::before {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  background-image: linear-gradient(
    86deg,
    #64b9aa00 0%,
    #64b9aa 25%,
    #64b9aa00 50%
  );
  background-size: 200%;
  background-position-x: -100%;
  transition: background-position-x 1s;
}

.gradient-shift:hover::before {
  background-position-x: 100%;
}

.gradient-shift {
  opacity: 1 !important;
}

.rounded {
  border-radius: 50px;
}

.shadow {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

@media (min-width: 640px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 21px;
  }

  p {
    font-size: 18px;
  }

  .button {
    font-size: 16px;
  }

  .label {
    font-size: 18px;
  }

  p.large {
    font-size: 20px;
  }
}

@media (min-width: 480px) {
  .xs-flex-row {
    flex-direction: row;
  }
}

.shimmer {
  animation: grow 6s ease-in-out infinite alternate;
}

.slide {
  opacity: 0;
  animation: slide 12s ease-in-out infinite alternate;
}

@keyframes grow {
  from {
    opacity: 0;
    transform: scale(1);
  }
  to {
    opacity: 0.8;
    transform: scale(1);
  }
}

@keyframes slide {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  10% {
    opacity: 1;
    transform: translateX(0px);
  }
  40% {
    opacity: 1;
    transform: translateX(0px);
  }
  50% {
    opacity: 0;
    transform: translateX(100px);
  }
}

.transaction-block {
  background: linear-gradient(
      83.57deg,
      rgba(0, 0, 0, 0) 13.55%,
      rgba(34, 201, 191, 0.2) 98.35%
    ),
    linear-gradient(
      265.77deg,
      rgba(0, 0, 0, 0) 44.4%,
      rgba(92, 47, 115, 0.4) 110.31%
    ),
    linear-gradient(0deg, #111, #111);

  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  max-width: 440px;
}

.transaction-block p {
  font-family: Inter;
  font-size: 11px;
  line-height: 18px;
}

.transaction-block h4 {
  font-family: Inter;
  font-size: 16px;
}

.transaction-block h4,
.transaction-block p {
  background: linear-gradient(
      83.57deg,
      rgba(0, 0, 0, 0) 13.55%,
      rgba(34, 201, 191, 0.25) 98.35%
    ),
    linear-gradient(265.77deg, rgba(0, 0, 0, 0) 44.4%, #5c2f73 110.31%),
    linear-gradient(0deg, #777, #777);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.carousel__dot {
  background-color: white;
  margin: 0 5px;
  width: 10px;
  height: 10px;
  opacity: 0.3;
  border-radius: 5px;
}

.carousel__dot.carousel__dot--selected {
  opacity: 1;
}

.carousel__dot-group {
  display: flex;
  justify-content: center;
}

.object-fit-contain {
  object-fit: contain;
}
