@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f2f2f2;
  overflow-x: hidden;
}

@font-face {
  font-family: Euclid Circular B;
  font-weight: 400;
  font-style: normal;
  src: url("./assets/Euclid-regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: Euclid Circular B;
  font-weight: 500;
  font-style: normal;
  src: url("./assets/Euclid.otf") format("opentype");
  font-display: swap;
}

h1,
h2,
h3,
h4 {
  font-family: Euclid Circular B;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -0.02em;
  @apply text-blue;
}

h1,
h2,
h3.gradient,
h4.gradient {
  background: linear-gradient(
      76.42deg,
      rgba(40, 161, 211, 0) 20.86%,
      rgba(34, 201, 191, 0.75) 88.57%
    ),
    #342abc;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

p,
.button {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  line-height: 145%;
  mix-blend-mode: normal;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 21px;
}

p {
  @apply text-gray;
  font-size: 23px;
}

.button {
  font-size: 20px;
}

.button,
a {
  transition: opacity 500ms;
}

.button:hover,
a:hover {
  opacity: 0.65;
}

.label {
  font-size: 23px;
}

.label {
  @apply text-blue;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.input {
  border: 1.5px solid #aaaae3;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 15px;
  min-height: 52px;
  outline: none;
  padding: 0 20px;
}

.textarea {
  border: 1.5px solid #aaaae3;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 15px;
  min-height: 200px;
  outline: none;
  padding: 10px 20px;
}

.text-white {
  -webkit-text-fill-color: initial;
}

.gradientShift {
  background-size: 200%;
  transition: background-size 500ms;
}

.gradientShift:hover {
  opacity: 1 !important;
  background-size: 100%;
}

.gradientShift.small:hover {
  background-size: 150%;
}

.rounded {
  border-radius: 30px;
}

.shadow {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

@media (min-width: 640px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 21px;
  }

  p {
    font-size: 16px;
  }

  .button {
    font-size: 16px;
  }

  .label {
    font-size: 18px;
  }
}

@media (min-width: 480px) {
  .xs-flex-row {
    flex-direction: row;
  }
}

.shimmer {
  animation: grow 4s ease-in-out infinite alternate;
}

.slide {
  opacity: 0;
  animation: slide 12s ease-in-out infinite alternate;
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes slide {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  10% {
    opacity: 1;
    transform: translateX(0px);
  }
  40% {
    opacity: 1;
    transform: translateX(0px);
  }
  50% {
    opacity: 0;
    transform: translateX(100px);
  }
}
